/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Body */

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f6faf5;
    color:#222;
}

/* Header */

header{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:18px 8%;

    background:white;

    box-shadow:0 2px 10px rgba(0,0,0,.08);

    position:sticky;
    top:0;
}

.logo{
    font-size:30px;
    font-weight:bold;
    color:#2e7d32;
}

nav a{
    text-decoration:none;
    margin:0 15px;
    color:#333;
    font-weight:600;
}

nav a:hover{
    color:#2e7d32;
}

.theme-btn{

    padding:10px 18px;

    border:none;

    border-radius:25px;

    background:#2e7d32;

    color:white;

    cursor:pointer;

    font-weight:bold;
}

.theme-btn:hover{
    background:#1b5e20;
}